* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbf2f2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
}

header {
  background-color: #FFFF;
  color: #486568 !important;
}

header .logo {
  width: 50px;
}

header nav a {
  font-weight: 700 !important;
  color: #486568 !important;
  text-decoration: none;
  margin-left: 20px;
}

header nav a:hover {
  color: #df9b1d !important;
}

.container-main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  color: #486568;
  flex: 1;
  margin-bottom: 30px;
}

.container-main h1 {
  font-size: 2.5rem;
  margin: 20px 20px;

}

.container-form {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-form img {
  width: 500px;
  height: auto;
  box-shadow: 12px 12px 10px 0px #486568;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.container-form figure:hover img {
   transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 4px 8px #486568(0, 0, 0, 0.5);
}

.formulario {
  display: flex;
  height: auto;
  padding: 20px;
  width: 450px;
  border-radius: 20px;
  box-shadow: rgba(72, 97, 74, 0.781) 0px 3px 8px;
  flex-direction: column;
  background-color: #ffe7d0;
}

.formulario label {
  font-weight: 700;
}

.formulario input {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario textarea {
  padding: 10px;
  border-radius: 5px;
  height: 100px;
  resize: none;
}

#btn {
  font-size: 1.2rem;
  font-weight: 700;
  align-self: center;
  color: #3e5254;
  width: 50%;
  padding: 10px;
  transition: 0.5s;
  background: linear-gradient(90deg, #ff9431, #ffbb7d);
  cursor: pointer;
}

#btn:hover {
  font-size: 1.3rem;
  width: 60%;
  background: linear-gradient(90deg, #ffbb7d, #ff9431);
}

footer {
  justify-content: space-around;
  background: #334244;
  color: #FF9431;
}

i {
  fill: #FF9431;
  font-size: 20px;
}

footer ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}



svg:hover path {
  fill: #ffe7d0;
}

@media (max-width: 768px) {

  .container-main {
    height: 100%;
  }

  .container-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .formulario {
    width: 100%;
    height: auto;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer ul {
    text-align: center;
  }

  footer .d-flex {
    justify-content: center;
  }
}

@media (min-width: 360px) and (max-width: 768px) {

  footer {
    flex-direction: column;

  }

  .custom-button {
    width: 100%;
  }
}

@media (max-width: 1200px) {

  .container-main img {
    display: none;
  }

  .formulario {
    justify-content: center;
    width: 80%;
    height: auto;
  }

}